# settings.json should be copied from
#   settings-windows.json or
#   settings-linux.json
settings.json
__pycache__
bug
benchmark/rundir

# Generated test files
test/tb_dp/*.sim
test/tb_dp/*.raw
test/tb_dp/*.png
